



.fieldDetailsBottom{
    background-color: #075b35;
    color:#ffff;
}

.fieldDetailsTop{
    background-color: #24BD79;
}


.fieldDetailsContainer{
    color:#ffff;
    
}

.fieldDetailActions{
    color:#ffff;
}